name: Validation
on: [push]

env:
  AWS_REGION: us-east-1

jobs:
  build:
    name: Verifying
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Restore cache of Node.js project dependencies
        id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: node_modules
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install Node.js project dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Run lint of code
        run: npm run lint

      - name: Run unit tests
        run: npm run test

  simple:
    name: Run simple scenario
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Executing AWS CodeBuild task
        uses: ./
        with:
          projectName: 'testing-codebuild-logs'
        env:
          CODEBUILD__environmentVariablesOverride: '[
            { "name":"testEnvVar", "value":"Testing environment variable", "type": "PLAINTEXT" }
          ]'

  without_wait:
    name: Run without waiting job scenario
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Executing AWS CodeBuild task
        uses: ./
        with:
          projectName: 'testing-codebuild-logs'
          waitToBuildEnd: false
          CODEBUILD__environmentVariablesOverride: '[
            { "name":"testEnvVar", "value":"Testing environment variable", "type": "PLAINTEXT" }
          ]'

  without_logs:
    name: Run without logs scenario
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Executing AWS CodeBuild task
        uses: ./
        with:
          projectName: 'testing-codebuild-logs'
          displayBuildLogs: false
          CODEBUILD__environmentVariablesOverride: '[
            { "name":"testEnvVar", "value":"Testing environment variable", "type": "PLAINTEXT" }
          ]'

  fast:
    name: Run fast scenario
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Executing AWS CodeBuild task
        uses: ./
        with:
          projectName: 'testing-codebuild-logs'
          buildStatusInterval: 1000
          logsUpdateInterval: 1000
          CODEBUILD__environmentVariablesOverride: '[
            { "name":"testEnvVar", "value":"Testing environment variable", "type": "PLAINTEXT" }
          ]'